@use "../../main.scss" as *;
@use "../../style//Sass/media" as *;

// Signup Page
.signup {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../../assets/images/signup.jpg") center / cover no-repeat;
  z-index: 999;
  padding-top: 80px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $clr-commerce, $alpha: 0.3);
    z-index: -1;
  }
  &-content {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    background-color: $clr-ghost-white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    .section-title {
      text-align: center;
      margin-bottom: 1.5rem;
      font-family: "Caveat", sans-serif;
      h3 {
        font-size: 30px;
        color: $clr-commerce;
      }
    }

    .signup-form {
      display: flex;
      flex-direction: column;

      .form-group {
        margin-bottom: 1rem;

        label {
          font-size: 1.5rem;
          color: $clr-second;
          margin-bottom: 8px;
          display: block;
        }

        input {
          width: 100%;
          padding: 0.75rem;
          font-size: 1.3rem;
          font-weight: 500;
          border: 1px solid #ccc;
          border-radius: 4px;
          transition: $transition;
          &:focus {
            border-color: $clr-second;
          }
        }

        .error-message {
          margin-top: 0;
        }

        .password-wrapper {
          position: relative;
          .toggle-password {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-weight: 500;
            background: none;
            border: none;
            cursor: pointer;
            font-size: 12px;
            color: $clr-commerce;
          }
        }
      }

      .btn {
        padding: 0.75rem;
        background-color: $clr-commerce;
        color: white;
        font-size: 1.5rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: $transition;

        &:hover {
          background-color: $clr-second;
        }
      }
    }

    .login-redirect {
      text-align: center;
      margin-top: 1.5rem;

      p {
        font-size: 1.3rem;
        color: $clr-second;
        a {
          color: $clr-commerce;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    // Media Query From Mixin File
    @include respond-to("small") {
      width: 400px;
      .signup-form {
        .btn {
          font-size: 12px;
        }
        .form-group {
          input,
          label {
            font-size: 13px;
          }
        }
      }
    }

    @include respond-to("xsmall") {
      width: 350px;
      .signup-form {
        .form-group {
          label {
            font-size: 10px;
          }
          input {
            font-size: 8px;
          }
        }
      }
      .login-redirect {
        p {
          font-size: 11px;
        }
      }
    }
    @include respond-to("xxsmall") {
      width: 310px;
      .signup-form {
        .form-group {
          label {
            font-size: 9px;
          }
          input {
            font-size: 7px;
          }
          .password-wrapper {
            .toggle-password {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
